/* @media (max-width: 824px) {
    .grid{
        justify-items: left !important;
    }

.name{
    margin-top: 40px !important;
}
    
} */

@media (max-width: 639px) {
   
    img{
        width: 90px;
        height: 100px;
    }
    .class{
        width: 100% !important;
        /* margin-left: 10px !important;
        text-align: left !important; */
    }
    .class2{
        width: 100% !important;
        /* width: 100% !important;
        margin-left: 10px !important;
        padding: 0 !important; */
    }
    
}